
html {
    scroll-behavior: smooth;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    /* max-width: 1140px; */
    margin-inline: auto;
    max-width: 90%;
}


@media(min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

}

:root{
    --yellow-bg:#F5F5DC;
    --white-bg:#F7F7F7;
    --main-green:#366F43;
    --light-green:#578C63;
    --white-shade: #E4E4E4;
    --white-font:#A7A3A0;
    --green-shade: linear-gradient(96.25deg, #366F43 10.14%, #578C63 115.62%);
    --yellow-shade: linear-gradient(100.75deg, #EAE83D, #DADA80);
    --transparent-green:#366F4326; 
   

}
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--yellow-bg);
}

.primary-btn{
    border-radius: 50px;
    /* border: 1px solid transparent; */
    border: none;
    letter-spacing: 2px;
    font-weight: 600;
    padding-block: 10px;
    padding-inline: 15px;
    /* border-width: 10px; */
    background: var(--green-shade) ;  
    text-transform: uppercase;
    transition:.5s all ease;
    cursor: pointer;
    color: var(--white-font);

}
.primary-btn:hover{
    background: var(--white-bg);
    color: var(--main-green);
    /* border-color: var(--main-green); */
}






/* navbar  */
.navbar-section {
    display: flex;
    list-style: none;
    font-size: 13px;
    color: var(--main-green);
    font-weight: 700;
    padding: 25px;
    z-index: 10;
    letter-spacing: 1px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    text-transform: uppercase;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}

.logo img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    object-position: center;
}
.logo span{
    color: var(--main-green);
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 2px;
}
.menu-close-icon img, .menu-icon img{
    width: 100%;
    height: auto;
    object-fit: cover   ;
}
.menu-icon {
    display: none;
    max-width: 40px;
}

.menu-close-icon {
    display: none;
    max-width: 40px;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    transition: 0.3s ease-out;
}

.nav-container li {
    margin-left: 10px;
}


@media screen and (max-width: 1024px) {
    .navbar-section {
        padding: 10px;
        height: 70px;
    }

    .menu-icon {
        display: block;
    }
}

.nav-container li a {
    padding-bottom: 10px;
}

.nav-container li a,
.nav-container li a:after,
.nav-container li a:before {
    transition: all .5s;
}

.nav-container li a {
    position: relative;
}

.nav-container li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--white-font);
    height: 1px;
}

.nav-container li a:hover:after {
    width: 100%;
}

@media screen and (max-width: 1024px) {

    .expanded {
        width: 50% !important;
    }

    #topnav {
        width: 0%;
        transition: width 0.5s ease;
        overflow: hidden;
        /* position: relative; */
        display: block;
        position: fixed;
        z-index: 2;
        right: 0;
        top: 0;
        min-height: 100vh;
        overflow-y: scroll;
        background: var(--main-green);
        color: var(--white-font);
        transition: width 0.3s ease;
    }

    .nav-container.responsive .menu-close-icon {
        position: absolute;
        top: 0;
    }

    .nav-container li a::after {
        background: none;
    }

    .nav-container li {
        float: none;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 20px;
        margin-left: 20px;
    }
}
/* navbar end */

/* hero-section */
.hero-section{
    padding-block: 5%;
    padding-bottom: 20%;
}
.hero-container{
    color: var(--main-green);
}
.hero-container > span{
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 20px;
}
 .hero-container > span::before {
    content: " ";
    display: block;
    border-top: 1px solid var(--main-green);
    width: 60px;
}
.hero{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.hero > h1{
    width: 60%;
    margin-left: 80px;
    font-size: 2.5rem;
    margin-top: 0;
}
.hero > div{
    width: 30%;
}
.hero div p:first-child{
    font-weight: 700;
    font-size: 20px;
}
.hero div p:nth-child(2){
    font-weight: 300;
}
@media (max-width:992px) {
    .hero{
        flex-direction: column;
    }
    .hero > h1{
        margin-left: 0;
        width: 100%;
    }
    .hero > div{
        width:100%;
        margin-inline: auto;
        text-align: justify;
        
    }
}
/* hero-section end */

/* video-section */
.video-section{
    background-color: var(--white-bg);
}
.video-container iframe{
    border-radius: 20px;
    margin-top: -20%;
}

.content-section{
    background-color: var(--white-bg);
    padding-block:5%;
    color: var(--main-green);
}
.content-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    
}
.content span{
    font-size: 16px;
    font-weight: 500;
}
.content{
    width: calc(40% - 10px);
    margin-block:40px ;
}
.content p{
    width: 80%;
    font-size: 15px;
    line-height: 1.5rem;
}
.content h2{
    font-weight: 700;
    margin-block: 10px;
}
@media (max-width:767px) {
    .content{
        width: 100%;
        margin-block: 20px;
    }
}
/* content section end */

/* trust section */
.trust-section{
    color: var(--main-green);
    background-color: var(--white-bg);
    padding-block:5% ;
}
.trust-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 50px;
    margin-top: 30px;
}
.trustee .img-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    aspect-ratio: 9/11;
    box-shadow: 4px 4px 4px 0px #00000040;
}
.trustee{
    width: calc(25% - 100px);
    text-align: center;
}

.trustee .icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.trustee .icon-wrapper img{
    width: 30px;
    padding: 8px;
    height: 30px;
    aspect-ratio: 1/1;
    background-color: var(--light-green);
    border-radius: 50%;
}
@media (max-width:992px) {
    .trustee{
        width: calc(33.3333% - 40px);
    }
    .trust-grid{
        column-gap: 40px;
    }
}
@media (max-width:600px) {
    .trust-grid{
        gap: 20px;
    }
    .trustee{
        width: calc(50% - 20px);
    }
}
/* trust section end */

/* events-section */
.events-section{
    padding-block: 5%;
    color: var(--main-green);
}
.events-section > h1{
    font-weight: 800;
}

.event h2, .event h3{
    margin: 0;
}
.secondary-btn{
    border-radius: 50%;
    border: 1px solid var(--main-green);
    aspect-ratio: 1/1;
    background: var(--green-shade);
    transition: .3s ease;
    width: 50px;
    cursor: pointer;
}
.secondary-btn svg{
    width: 40%;
    height: auto;
    object-fit: cover;
    fill: var(--white-font);
    transition: .3s ease;
}
.secondary-btn:hover  svg{
    fill: var(--main-green);
}
.secondary-btn:hover{
    background: var(--white-bg);
    border-color:transparent ;
}
.events-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.event{
    background-color:var(--transparent-green);
    border-radius: 20px;
    padding: 25px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 10px;
    width: calc(50% - 30px);
    border: 1.5px solid #294F315C;
    box-shadow: 0px 5px 15.2px 0px #00000026;
    cursor: pointer;

}
.event span{
    font-size: 12px;
    font-weight: 400;
}
.event .event-info{
    margin-right: auto;
    margin-left: 10px;
}
@media (max-width:767px) {
    .event{
        width: 100%;
    }
}
/* events section end*/

/* testimonial section */
.testimonial-section{
    padding-block: 5%;
    background-color: var(--white-bg);
    color: var(--main-green);
}
.testimonial{
    text-align: center;
}
.testimonial .img-wrapper img{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
.testimonial .img-wrapper{
    width: 100px;
    margin-inline: auto;
}

#slider1 {
    width: 70vw;
}

.testimonial-wrapper {
    overflow: hidden;
    width: 70vw;
    z-index: 1;
    position: relative;
    margin-inline:auto ;
}

.slides {
    display: flex;
    position: relative;
    top: 0;
    left: -100%;
    width: 14500px;
}

.slides.shifting {
    transition: left 0.2s ease-out;
}

.slide {
    width: 70vw;
    
    transition: all 1s;
    border-radius: 2px;
}

.control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: var(--white-bg);
    border-radius: 50px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    border: none;
}

.prev,
.next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.prev {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    left: 10px;
}

.next {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    right: 10px;
}

.prev:active,
.next:active {
    transform: scale(0.8);
}


@media (max-width:500px) {
   .testimonial-wrapper{
    width: 90vw;
   }
   #slider1{
    width: 90vw;
   }
   .slide{
    width: 90vw;
   }
}
/* testimonial-section end */

/* banner-section */
.banner-section{
    padding-block: 5%;
    color: #89BB95;
}
.banner-container > div{
    background-image: linear-gradient(rgba(0, 0, 0, 0.559), rgba(0, 0, 0, 0.559)), /* Semi-transparent overlay */
    url(./assets/banner-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    position: relative;
}
.banner-container h1{
    font-size: 2rem;
    width: 70%;
    text-align: center;
}
@media (max-width:767px) {
    .banner-container h1{
        font-size: 1.6rem;
    }
}
/* banner-sectionn end */

/* footer sention */
footer{
    padding-block: 5%;
    background-color: var(--white-bg);
    color: var(--main-green);
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-container > div{
    width: calc(25% - 20px);
}
.about-footer .img-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.about-footer .img-wrapper{
    width: 50%;
}

.contact-footer li img{
    width: 20px;
    height: 20px;
}
.contact-footer li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 10px;
}
.links-footer li{
    margin-block:10px ;
}
.social-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media (max-width:992px) {
    .footer-container > div{
        width: calc(50% - 20px);
    }
}
@media (max-width:500px) {
    .footer-container > div{
        width: 100%;
    }
}
/* footer end */